// https://m3.material.io/styles/shape/shape-scale-tokens#59b6f73a-6ef2-45a6-ab48-611d07635661

:root {
  // @TODO remove --border in favor of --radius
  --border-smallest: 4px; // Extra small : Menu, Snackbars, Text fields
  --border-smaller: 8px; // Small : Chips, Rich tooltip
  --border-small: 10px; // Medium : Cards, Small FABs
  --border: 16px; // Large : FABs, Navigation drawers
  --border-big: 20px;
  --border-bigger: 28px; // Extra large : Dialogs, Large FABs, Search view (full-screen), Time picker, Time input
  --border-rounded: 50px;
  --border-circle: 100%; // @TODO remove in favor of --full
  --border-full: 100%; // Full : Badge, Buttons, Sliders, Switches, Search bards

  --radius-smallest: 4px; // Extra small : Menu, Snackbars, Text fields
  --radius-smaller: 8px; // Small : Chips, Rich tooltip
  --radius-small: 10px; // Medium : Cards, Small FABs
  --radius: 16px; // Large : FABs, Navigation drawers
  --radius-big: 20px;
  --radius-bigger: 28px; // Extra large : Dialogs, Large FABs, Search view (full-screen), Time picker, Time input
  --radius-rounded: 50px;
  --radius-circle: 100%; // @TODO remove in favor of --full
  --radius-full: 100%; // Full : Badge, Buttons, Sliders, Switches, Search bards
}
